form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin-bottom: 10px;
}

.name-field, .post-button {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
}

.comment-field {
  width: 100%;
}

.button-box{
  display: flex;
  align-items: center;
  gap: 2ch;
}
