<form [formGroup]="form">
  <mat-form-field appearance="fill" class="comment-field">
    <mat-label>Comment</mat-label>
    <textarea matInput formControlName="commentText"></textarea>
  </mat-form-field>

  <div class="button-box">
    @if (closable) {
    <button
      class="close-button"
      mat-mini-fab
      color="primary"
      (click)="handleCloseForm()"
    >
      <mat-icon>close</mat-icon>
    </button>
    }

    <button
      class="post-button"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="postComment()"
    >
      Post
    </button>
  </div>
</form>
