<div class="form-box">
  <form [formGroup]="loginForm">
    <mat-form-field appearance="fill" class="username">
      <mat-label>Username</mat-label>
      <input
        matInput
        name="username"
        formControlName="username"
        [errorStateMatcher]="defaultMatcher"
        autocomplete="username"
      />
    </mat-form-field>

    @if(needToRegister){
    <mat-form-field appearance="fill" class="email">
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        formControlName="email"
        [errorStateMatcher]="defaultMatcher"
        autocomplete="email"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="first-name">
      <mat-label>First Name</mat-label>
      <input
        matInput
        name="firstName"
        formControlName="firstName"
        [errorStateMatcher]="defaultMatcher"
        autocomplete="given-name"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="last-name">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        name="lastName"
        formControlName="lastName"
        [errorStateMatcher]="defaultMatcher"
        autocomplete="family-name"
      />
    </mat-form-field>
    }

    <mat-form-field appearance="fill" class="password">
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        formControlName="password"
        type="password"
        [errorStateMatcher]="defaultMatcher"
        autocomplete="current-password"
      />
    </mat-form-field>

    @if(needToRegister){
    <mat-form-field appearance="fill" class="confirm-password">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        name="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        [errorStateMatcher]="passwordMatcher"
      />
    </mat-form-field>
    }

    <button
      class="login-button"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid"
      (click)="login()"
    >
      @if (needToRegister){ Register } @else { Login }
    </button>

    <button
      class="need-to-register-button"
      mat-raised-button
      color="primary"
      (click)="registerOrLogin()"
    >
      @if (needToRegister){ I have an account. } @else { I need an account. }
    </button>

    @if(isLoading){
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    }
  </form>
</div>
