@use "@angular/material" as mat;

.container {
  margin: 5px auto 5px auto;
  max-width: 800px;
  min-width: 300px;
  width: 100%;
  @include mat.elevation(8);
  padding: 5px;
  border-radius: 5px;
}

.timer {
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 1 1 auto;
}

mat-progress-bar {
  transform: scaleY(3);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 5px 0 5px 0;
  button {
    flex: 0 1 50%;
    height: fit-content;
    mat-icon {
      $icon-size: 75px;
      font-size: $icon-size;
      width: $icon-size;
      height: $icon-size;
    }
  }
}

.clocks {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "round round"
    "elapsed remaining";
  .round {
    grid-area: round;
    text-align: center;
    font-size: 20vw;
  }
  .elapsed {
    grid-area: elapsed;
    text-align: center;
    font-size: 6vw;
  }
  .remaining {
    grid-area: remaining;
    text-align: center;
    font-size: 6vw;
  }
}

.button-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 5px 0 5px 0;
}

.button-box {
  button {
    flex: 1 0 20%;
    font-size: large;
  }
}

.title-text-area {
  width: 100%;
  margin-bottom: 5px;
}

.warmup-cooldown-box {
  display: flex;
  gap: 5px;
  flex-direction: column;
  div.durations {
    display: flex;
    gap: 5px;
    div.expand-button {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    mat-form-field {
      flex: 1 1 50%;
      * {
        text-align: center;
        font-size: x-large;
      }
    }
  }
}

mat-table {
  mat-header-cell {
    flex: 1 1 30%;
    justify-content: center;
  }
  mat-header-cell.mat-column-expand {
    flex: 1 1 5%;
  }
  mat-cell {
    flex: 1 1 auto;
    justify-content: center;
    padding: 5px;
  }
  mat-cell.mat-column-expand {
    flex: 1 1 5%;
  }
  mat-row.descriptions {
    mat-cell {
      flex-wrap: wrap;
      mat-form-field {
        flex: 1 1 50%;
      }
    }
  }

  mat-row.collapsed {
    height: 0;
    min-height: 0;
    display: none;
  }

  * {
    text-align: center;
    font-size: x-large;
  }
}

@media only screen and (max-width: 600px) {
  .controls {
    flex-direction: column;
    button {
      mat-icon {
        $icon-size: 50px;
        font-size: $icon-size;
        width: $icon-size;
        height: $icon-size;
      }
    }
  }

  .button-box {
    button {
      font-size: medium;
    }
  }

  mat-table {
    * {
      font-size: large;
    }
  }
}

@media only screen and (min-width: 800px) {
  .clocks {
    .round {
      font-size: 160px;
    }
    .elapsed {
      font-size: 48px;
    }
    .remaining {
      font-size: 48px;
    }
  }
}
