<div class="container">
  <section class="timer">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

    <h1>Round 1 - Hard</h1>

    <div class="clocks">
      <div class="round">00:00.0</div>
      <div class="elapsed">Elapsed<br />00:00.0</div>
      <div class="remaining">Remaining<br />00:00.0</div>
    </div>

    <div class="controls">
      <button mat-flat-button (click)="playPause()" color="primary">
        <mat-icon>play_arrow</mat-icon>
        <mat-icon *ngIf="running">pause</mat-icon>
      </button>
      <button mat-flat-button (click)="stop()" color="primary">
        <mat-icon>stop</mat-icon>
      </button>
    </div>

    <div class="button-box">
      <button mat-flat-button color="primary" (click)="addRow()">
        Add Row
      </button>
      <button mat-flat-button color="primary" (click)="deleteRow()">
        Delete Row
      </button>
      <button mat-flat-button color="primary" (click)="openSchedule()">
        Open Timer
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="saveSchedule()"
        [disabled]="!scheduleForm.valid"
      >
        Save Timer
      </button>
    </div>

    <form class="schedule" [formGroup]="scheduleForm">

      <mat-form-field class="title-text-area" appearance="fill" subscriptSizing="dynamic">
        <mat-label>Title</mat-label>
        <textarea matInput type="text" formControlName="title"></textarea>
      </mat-form-field>

      <div class="warmup-cooldown-box">
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <mat-label>Warmup</mat-label>
          <input matInput type="number" formControlName="warmup" />
        </mat-form-field>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <mat-label>Cooldown</mat-label>
          <input matInput type="number" formControlName="cooldown" />
        </mat-form-field>
      </div>

      <mat-table [dataSource]="rows.controls" formArrayName="rows">
        <ng-container matColumnDef="hard">
          <mat-header-cell *matHeaderCellDef> Hard </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input matInput type="number" formControlName="hard" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="easy">
          <mat-header-cell *matHeaderCellDef> Easy </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input matInput type="number" formControlName="easy" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rounds">
          <mat-header-cell *matHeaderCellDef> Rounds </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input matInput type="number" formControlName="rounds" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </form>
  </section>

</div>
