<h2 mat-dialog-title>A reset link will be emailed to you.</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="email">
    <mat-label>Email</mat-label>
    <input matInput name="email" [formControl]="email" autocomplete="email" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="close-button" mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
  <button
    mat-raised-button
    (click)="dialogRef.close(email.value)"
    color="primary"
    [disabled]="email.invalid"
  >
    reset password
  </button>
</mat-dialog-actions>
