<div class="form-box">
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        formControlName="password"
        type="password"
        [errorStateMatcher]="defaultMatcher"
        autocomplete="current-password"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        name="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        [errorStateMatcher]="passwordMatcher"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="passwordForm.invalid"
      (click)="doChangePassword()"
    >
      Change Password
    </button>
  </form>
</div>
