<home-dashboard></home-dashboard>


<div class="card-container">
  <mat-card class="card" id="hiit-timer-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>HIIT Timer</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/HIIT_Timer_card.png"
      alt="HIIT Timer"
    />
    <mat-card-content>
      <p>This is the best HIIT Timer ever.</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="card-container">
  <card
    class="card"
    imageURL="assets/images/HIIT_Timer_card.png"
    title="HIIT Timer"
    text="This is the best HIIT Timer ever"
  >
  </card>

  <card
    class="card"
    imageURL="assets/images/ThermoPropertyCalculator_card.png"
    title="Thermo Property Calculator"
    text="Calculate and plot thermodynamic properties of water and R134a"
  >
  </card>
</div>
