/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./themes/dark-theme.scss" as dark;
@use "./themes/light-theme.scss" as light;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.all-component-themes(dark.$dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.all-component-colors(light.$light-theme);
}
