.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

mat-card {
  width: 300px;
  height: 450px;
  margin: 20px;
}

mat-card-header {
  height: 15%;
  border-bottom: solid 1px;
  margin-bottom: 20px;
}

mat-card-content {
  height: 10%;
  border-top: solid 1px;
  padding-top: 20px;
  margin-top: 10px;
  font-size: large;
}

.image-div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: light) {
  mat-card {
    box-shadow: 5px 5px 10px;
  }
}
