<div class="comments_container">
  <div class="header">
    <h2>Comments</h2>
    <h3>{{ threads.length }} threads</h3>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="threads.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <comment
    *ngFor="let commentId of threads"
    [commentObject]="comments[commentId]"
    [comments]="comments"
  ></comment>
</div>
