<div class="comments_container">
  <div class="header">
    <h2>Comments</h2>
    <mat-divider></mat-divider>
    <comment-form></comment-form>
  </div>

  <mat-paginator
    (page)="getPage($event)"
    [length]="service.threads.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="true"
    aria-label="Select page"
  >
  </mat-paginator>

  <comment
    *ngFor="let commentId of pageContent"
    [commentObject]="service.comments[commentId]"
  ></comment>
</div>
