<div class="container">
  <section class="timer">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

    <h1>
      @if(roundIndex >= 0){ Round {{ roundIndex + 1 }} of
      {{ flatRoundsArray.length }} -
      {{ flatRoundsArray[roundIndex].description }}
      }
    </h1>

    <div class="clocks">
      <div class="round">{{ roundTimeRemaining | stopwatch }}</div>
      <div class="elapsed">Elapsed<br />{{ timeElapsed | stopwatch }}</div>
      <div class="remaining">
        Remaining<br />{{ timeRemaining | stopwatch }}
      </div>
    </div>

    <div class="controls">
      <button
        mat-flat-button
        (click)="playPause()"
        color="primary"
        [disabled]="scheduleForm.invalid"
      >
        @if (!running) {
        <mat-icon>play_arrow</mat-icon>
        } @if (running) {
        <mat-icon>pause</mat-icon>
        }
      </button>
      <button mat-flat-button (click)="stop()" color="primary">
        <mat-icon>stop</mat-icon>
      </button>
    </div>

    <div class="button-box">
      <button mat-flat-button color="primary" (click)="addRow(true)">
        Add Row
      </button>
      <button mat-flat-button color="primary" (click)="deleteRow(true)">
        Delete Row
      </button>
      <div
        matTooltip="Login to open a schedule."
        [matTooltipDisabled]="authService.isLoggedIn"
        #openTooltip="matTooltip"
        (click)="openTooltip.toggle()"
      >
        <button
          mat-flat-button
          color="primary"
          (click)="openSchedule()"
          [disabled]="!authService.isLoggedIn"
        >
          Open Timer
        </button>
      </div>
      <div
        matTooltip="Login to save your schedule."
        [matTooltipDisabled]="authService.isLoggedIn"
        #saveTooltip="matTooltip"
        (click)="saveTooltip.toggle()"
      >
        <button
          mat-flat-button
          color="primary"
          (click)="saveSchedule()"
          [disabled]="scheduleForm.invalid || !authService.isLoggedIn"
        >
          Save Timer
        </button>
      </div>
    </div>

    <form
      class="schedule"
      [formGroup]="scheduleForm"
      (change)="generateTimer()"
    >
      <mat-form-field
        class="title-text-area"
        appearance="fill"
        subscriptSizing="dynamic"
      >
        <mat-label>Title</mat-label>
        <textarea matInput type="text" formControlName="title"></textarea>
      </mat-form-field>

      <div class="warmup-cooldown-box">
        <div class="durations">
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Warmup</mat-label>
            <input matInput type="number" formControlName="warmup" />
          </mat-form-field>
          <div
            (click)="warmupCooldownDescShown = !warmupCooldownDescShown"
            class="expand-button"
          >
            @if(warmupCooldownDescShown){<mat-icon>expand_less</mat-icon>}@else{<mat-icon>expand_more</mat-icon>}
          </div>
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Cooldown</mat-label>
            <input matInput type="number" formControlName="cooldown" />
          </mat-form-field>
        </div>
        <div class="descriptions" [hidden]="!warmupCooldownDescShown">
          <mat-form-field
            class="title-text-area"
            appearance="fill"
            subscriptSizing="dynamic"
          >
            <mat-label>Warmup Description</mat-label>
            <textarea
              matInput
              type="text"
              formControlName="warmupDescription"
            ></textarea>
          </mat-form-field>

          <mat-form-field
            class="title-text-area"
            appearance="fill"
            subscriptSizing="dynamic"
          >
            <mat-label>Cooldown Description</mat-label>
            <textarea
              matInput
              type="text"
              formControlName="cooldownDescription"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <mat-table
        [dataSource]="rows.controls"
        formArrayName="rows"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="expand">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row; let i = dataIndex">
            <div
              (click)="expandedRowIndex = expandedRowIndex == i ? null : i"
              class="expand-button"
            >
              @if(expandedRowIndex==i){<mat-icon>expand_more</mat-icon>}@else{<mat-icon>expand_less</mat-icon>}
            </div></mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="hard">
          <mat-header-cell *matHeaderCellDef> Hard </mat-header-cell>
          <mat-cell
            *matCellDef="let row; let i = dataIndex"
            [formGroupName]="i"
          >
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input matInput type="number" formControlName="hard" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="easy">
          <mat-header-cell *matHeaderCellDef> Easy </mat-header-cell>
          <mat-cell
            *matCellDef="let row; let i = dataIndex"
            [formGroupName]="i"
          >
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input matInput type="number" formControlName="easy" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rounds">
          <mat-header-cell *matHeaderCellDef> Rounds </mat-header-cell>
          <mat-cell
            *matCellDef="let row; let i = dataIndex"
            [formGroupName]="i"
          >
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input matInput type="number" formControlName="rounds" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descriptions">
          <mat-cell
            *matCellDef="let row; let i = dataIndex"
            [formGroupName]="i"
          >
            <mat-form-field
              appearance="fill"
              subscriptSizing="dynamic"
              [hidden]="expandedRowIndex != i"
            >
              <mat-label>Hard Description</mat-label>
              <textarea matInput formControlName="hardDescription"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
              <mat-label>Easy Description</mat-label>
              <textarea matInput formControlName="easyDescription"></textarea>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-row
          *matRowDef="let row; let i = dataIndex; columns: ['descriptions']"
          class="descriptions"
          [class.collapsed]="expandedRowIndex !== i"
        ></mat-row>
      </mat-table>
    </form>
  </section>
</div>
