<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      {{
      commentObject.commenterName
      ? commentObject.commenterName
      : "Anonomous"
      }}
      -
      {{ commentObject.dateEntered | timeSince }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>{{ commentObject.commentText }}</p>

    <div class="reply-header">
      <button mat-raised-button color="primary" (click)="showReplyForm()">
        Reply
      </button>
    </div>

    @if (commentObject.replies.length > 0) {
      <mat-divider></mat-divider>
    }

    @if (commentObject.replies.length > 0) {
      <span (click)="showReplies()">
        @if (repliesHidden) {
          <mat-icon>keyboard_arrow_right</mat-icon>
        }
        @if (!repliesHidden) {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
        {{
        commentObject.replies.length > 1
        ? commentObject.replies.length + " Replies"
        : "1 Reply"
        }}
      </span>
    }
  </mat-card-content>

  @for (replyId of commentObject.replies; track replyId) {
    <comment
      class="reply"
      [commentObject]="service.comments[replyId]"
      [hidden]="repliesHidden"
    ></comment>
  }

  @if (replyFormShown) {
    <mat-divider></mat-divider>
  }

  @if (replyFormShown) {
    <comment-form
      [parentCommentId]="commentObject.id"
      [closable]="true"
      (close)="closeReplyForm()"
      >
    </comment-form>
  }
</mat-card>
