mat-card {
  padding-bottom: 5px;
  margin: 3px;
}

span{
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 5px 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.reply {
  margin-left: 10px;
}

mat-divider {
  margin: 10px;
}
